@model PetProject.Shared.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}

<div class="auth-container">
    <h1>Registration</h1>
    <form asp-action="Register" method="post" class="auth-form">
        <label>Username</label>
        <input asp-for="Login" />
        <span asp-validation-for="Login" class="text-error"></span>

        <label>Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-error"></span>

        <label>Nickname</label>
        <input asp-for="Nick" />
        <span asp-validation-for="Nick" class="text-error"></span>

        <div class="form-footer-link" style="margin-top: 20px; text-align: center;">
            <button type="submit" class="btn-play">Register</button>
        </div>
    </form>

    <div class="form-footer-link" style="margin-top: 20px; text-align: center;">
        Already have an account? <a asp-controller="Auth" asp-action="Login">Sign In</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}